# Node
backend/node_modules/
backend/environment.ts

# Angular
frontend/node_modules/
frontend/.angular/cache/
frontend/environment.ts

# VSCode settings
frontend/.vscode/*
!frontend/.vscode/settings.json
!frontend/.vscode/tasks.json
!frontend/.vscode/launch.json
!frontend/.vscode/extensions.json
