<section class="container mt-4">
  <h1 class="text-center mb-4">Cadastro de Usuários</h1>

  <form (submit)="saveUser()" class="mb-4">
    <div class="row">
      <div class="col-12 mb-lg-0 mb-4 col-lg-4">
        <label>Nome:</label>
        <input type="text" [(ngModel)]="user.name" name="name" class="form-control" placeholder="Digite seu nome" required />
      </div>
      <div class="col-12 mb-lg-0 mb-4 col-lg-4">
        <label>Sobrenome:</label>
        <input type="text" [(ngModel)]="user.lastname" name="lastname" class="form-control" placeholder="Digite seu sobrenome" required />
      </div>
      <div class="col-12 mb-lg-0 mb-4 col-lg-2">
        <label>Idade:</label>
        <input type="number" [(ngModel)]="user.age" name="age" class="form-control" required />
      </div>
      <div class="col-12 col-lg-2 d-flex align-items-end">
        <button type="submit" class="btn btn-success w-100" title="{{ editMode ? 'Atualizar' : 'Adicionar'}} usuário">
          {{ editMode ? "Atualizar" : "Adicionar" }}
        </button>
      </div>
    </div>
  </form>

  <table *ngIf="users.length > 0" class="table table-bordered">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Sobrenome</th>
        <th>Idade</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.id }}</td>
        <td>{{ user.name }}</td>
        <td>{{ user.lastname }}</td>
        <td>{{ user.age }}</td>
        <td class="d-flex gap-2 flex-lg-row flex-column">
          <button (click)="editUser(user)" type="button" class="btn btn-primary btn-sm" title="Editar">Editar</button>
          <button (click)="deleteUser(user.id!)" type="button" class="btn btn-danger btn-sm" title="Excluir">Excluir</button>
        </td>
      </tr>
    </tbody>
  </table>

  <h4 *ngIf="users.length == 0 || !users" class="text-center">Nenhum usuário encontrado!</h4>
</section>
